---
import Section from "../Section.astro"



import { skills } from "@cv"
---

<Section title="# Skills">

        <ul class="transition delay-150 duration-300 ease-in-out ...">
            { 
                skills.map(({ name, level }) => (
                <li>
                        
                        <span>{name}</span>
                        
                </li>
                    ))
            }
        </ul>


        <button>
        <a
        class="inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500"
        href="/src/CV-Eduardo.pdf" download>
        Download CV
        </a>
        </button>
</Section>

<style>
    ul { 
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li { 
        border-radius: 6px;
        background: #eee;
        color: black;
        font-size: .70rem;
        font-weight: 500;
        padding: 0.3rem 0.7rem;
    }

    ul li {
        margin: 1px;
        text-align: center;
        align-items: flex-start;
        transition: linear 0.5s;
    }

    ul li:hover {
        color: rgb(55, 59, 65);
        background-color: #6ff5de;
    }

    button {
        display: flex;
        gap: 25px;
        margin-top: 25px;
    }
</style>