---
import Section from "../Section.astro"

import { skills } from "@cv"
---

<Section title="Skills">

        <ul class="transition delay-150 duration-300 ease-in-out ...">
                { 
                    skills.map(({ name, level, url }) => (
                    <li> 
                        <a href={url}><span>{name}</span></a>      
                    </li>
                    ))
                }
        </ul>

        <button>
            <a
                class="group relative inline-block text-sm font-medium text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                href="/src/CV-Eduardo.pdf" download
            >
            <span
                class=" rounded-md absolute inset-0 translate-x-0 translate-y-0 bg-indigo-600 transition-transform group-hover:translate-x-0.5 group-hover:translate-y-1.5">
            </span>
            <span class="rounded-md relative block border border-current bg-white px-8 py-3"> 
                Descargar CV    
            </span>
            </a>
        </button>
</Section>

<style>
    ul { 
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li { 
        border-radius: 40px;
        background: #eee;
        color: black;
        font-size: .70rem;
        font-weight: 550;
        padding: 0.3rem 0.7rem;
    }

    ul li {
        margin: 2px;
        text-align: center;
        align-items: flex-start;
        transition: linear 0.5s;
    }

    ul li:hover {
        color: rgb(55, 59, 65);
        background-color: #97f2d7;
    }

    button {
        display: flex;
        gap: 25px;
        margin-top: 25px;
        border-radius: 10%;
        
    }

</style>






